.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: $secondary-color;
  // font-weight: bold;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      a {
        padding: 1rem;
        font-size: 2rem;
        &:hover {
          color: lightgray;
        }
      }
      .social-link img {
        width: 1em;
        margin-right: 1rem;
      }
    }
  }
}

.credit {
  // background: #bc3a80;
  background: #0670a4;
  height: 40px;
  .container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .name a {
      font-weight: 900;
      transition: 0.5s ease;
      &:hover {
        color: $primary-color;
      }
    }
    .logos {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      .fa {
        font-size: 2.5rem;
        margin-left: 20px;
        transition: 0.5s ease;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
