@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
  .home-main-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;

    .img-wrapper {
      margin: 0 auto;
      min-width: 50vw;
    }
    .call-to-action {
      margin: 1rem auto;
    }
    .call-to-action {
      order: -1;
    }
  }
  .discover-main-section {
    display: flex;
    flex-direction: column;

    .content,
    .covers-img {
      margin: 1rem auto;
    }
    .content {
      text-align: center;
      .icons-container {
        justify-content: center;
      }
    }
    .covers-img {
      width: 60%;
    }
  }
  .join-main-section {
    display: flex;
    flex-direction: column;
    .title,
    .form-container {
      margin: 2rem auto;
      .form {
        width: 70vw;
      }
    }
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
  .container {
    width: 100%;
  }
  .discover-main-section .content .icons-container .icon {
    height: 100px;
    img {
      width: 40%;
      margin: auto;
    }
  }
}
